[2016-09-24 19:06] kitze opened #1 "Fix tests"
The jest tests are currently failing if Babel stage-0 or decorators are used.

[2016-09-24 19:14] kitze opened #2 "Don't run webpack-dashboard before create-react-app actually runs"
Sometimes when running an app, create-react-app is asking "Would you like to run the app on another port instead? [Y/n]" and the webpack-dashboard just appears over this.

It should wait until the error messages/questions are done and then show when everything is fine.

[2016-09-24 19:17] kitze opened #3 "The published npm module breaks create-react-app's app generation"
For now the npm module doesn't work.

[2016-09-24 20:05] kitze commented on #3
Turns out this was due to a bug in create-react-app 0.5.0
https://github.com/facebookincubator/create-react-app/issues/682#issuecomment-249356798

It's fixed now in 0.5.1.

[2016-09-24 21:34] kitze commented on #3
Getting different error "sh: custom-react-scripts: command not found"

[2016-09-25 14:38] kitze commented on #3
Fixed this by renaming ```./bin/react-scripts``` to ```./bin/custom-react-scripts``` and also changed it in  ```package.json```
[code]

🎉

[2016-09-25 14:38] #3 closed

[2016-09-26 12:35] kitze opened #4 "Revert the binary name to react-scripts"
After [this issue](https://github.com/facebookincubator/create-react-app/pull/754) has been fixed in CRA, the name of the binary can be react-scripts again.

[2016-09-26 12:35] #2 closed

[2016-09-26 12:35] kitze opened #5 "webpack-dashboard + create-react-app is buggy"
Find a better way to implement webpack-dashboard in react-scripts.

[2016-09-26 12:42] #4 closed

[2016-09-26 16:22] tonyxiao opened #6 "postcss support"
Is there support for postcss here? In particular autoprefixer/cssnext and stylelint?

[2016-09-27 09:36] #5 closed

[2016-09-27 15:02] gaearon opened #7 "Link to medium article from README and website"
I think this would make sense.

[2016-09-29 15:39] DataMkP opened #9 "Only while starting a new project ?"
Thanks for the work (I need Sass).

I wonder if it is possible to update a project based on CRA with your custom script. I understand that we can use it only while creating a new app.

[2016-10-01 06:37] martinschayna commented on #9
IMHO just replace `react-scripts` with `custom-react-scripts` in the `package.json` with appropriate version and add `.env` file?

[2016-10-01 14:02] jbach opened #10 "REACT_APP_SASS does not generate CSS file"
When `REACT_APP_SASS=true`, the CSS is embedded in the JS file rather than output as a separate CSS file.  I guess `ExtractTextPlugin.extract` is missing for the Sass loader?

[2016-10-02 11:14] stereobooster opened #11 "Can't compile SASS"
### Description

This is probably pretty lame and obvious thing that I'm missing, but still can't figure out.

### Expected behavior

I created app with custom scripts, copied `App.scss` from this repo, added `REACT_APP_SASS=true` to env. Run `npm start` and got error:

[code]

### Actual behavior

It should compile scss files.

### Environment
[code]
1. Operating system: Mac OS X
2. Browser and v

[2016-10-02 12:07] kitze commented on #11
In your package.json you're using the original react-scripts. You should install custom-react-scripts instead.

### Fix for this project
Just remove ```react-scripts```  from here:
[code]
And ```npm install --save-dev custom-react-scripts```.

### Advice for future projects
When you generate your projects with "create-react-app" in the future, please specify the version of the scripts like this: `

[2016-10-02 12:15] kitze commented on #10
This should be only happening in development mode, in production mode when using ```npm run build``` the compiled css should be in an extra file because ```ExtractTextPlugin.extract``` is configured.

[2016-10-02 12:16] kitze commented on #9
@martinschayna is right. Just remove react-scripts from your dependencies, and install ```custom-react-scripts```. The name in the npm scripts should stay ```react-scripts``` though.

I also explained it in [this issue](https://github.com/kitze/create-react-app/issues/11#issuecomment-250968102).

[2016-10-02 12:24] stereobooster commented on #11
Yes that fixed problem. Thanks a lot. Not sure how I get into it. I used `--scripts-version custom-react-scripts`

PS. I thought that it is possible to add obvious comment to issue report template, like if `npm ls react-scripts` output looks like

[code]

you need to switch to `custom-react-scripts`...

After I switched:

[code]

[2016-10-02 12:24] #11 closed

[2016-10-02 12:34] stereobooster opened #12 "Road map and plans for Flowtype support?"
Hi. This is a great project. Thanks for creating it.

Do you have roadmap? And do you have plans to add FlowType support?

Want to replace [propTypes with Flow](http://blog.rstankov.com/flow-as-replacement-for-proptype/).

Also looking for something similar to [typed-css-modules](https://github.com/Quramy/typed-css-modules) for Flow and CSSModules.

[2016-10-02 12:46] jbach commented on #10
I’ve added a reduced testcase to https://github.com/jbach/custom-react-scripts-sass. Try running `npm run build`, the css will not be extracted. Am I doing something wrong? Maybe I’m confused, but looking at [config/customizers.js](blob/master/packages/react-scripts/config/customizers.js#L19), I don’t see `ExtractTextPlugin.extract`.

When I manually change the sass-loader in `config/customizers.j

[2016-10-03 09:07] kitze commented on #10
Just released 0.0.14 with [a better fix](https://github.com/kitze/create-react-app/commit/fd7c7b46b70400fc88f33949df5aa29ea1bf9f43) for this. Now each customizer has a getDev and getProd functions. Should be ok now.

[2016-10-03 09:36] #9 closed

[2016-10-03 09:45] #7 closed

[2016-10-03 09:55] kitze commented on #12
Flow [already works](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-flow).

I've never used typed-css-modules but from what i read in the readme, it's not integrated with webpack or babel in any way, right? So it should work too.

[2016-10-03 10:51] kitze commented on #12
Here's a sample .flowconfig file:

[code]

It will work with absolute imports and it will ignore scss, less, css, png, jpg files.

You also need to have a ```file-stub.js``` file in the root of the project. The content of that file is:```declare export default void;```

Please let me know if this works for you.

[2016-10-03 11:24] jbach commented on #10
Thank you for the fix, but can you confirm 0.0.14 is installable via npm? Installation via `npm i custom-react-scripts` fails for me with Node 6.6.0 / npm 3.10.3. [See my full npm-debug.log](https://gist.github.com/jbach/b8701a5c5f6b4357035eada72ee66066#file-npm-debug-log-L9973)

[code]

[2016-10-03 12:14] kitze commented on #12
Final config is [here](https://gist.github.com/kitze/63ac677fbd70bda72d10756e6e0d3d87). It supports every feature that ``custom-react-scripts``` supports. I will add it to the readme later.

[2016-10-03 12:14] #12 closed

[2016-10-03 12:31] kitze commented on #10
Yes. I got the same error with Node v6.6.0. I also see other people [have this issue]with different npm packages (https://github.com/webpack/webpack/issues/2463) but I have no idea why.

Installing the scripts with Node v.6.2.0 worked completely fine for me. Please try it and let me know.

[2016-10-03 12:49] zjoin opened #13 "Installing fail"
I installing create-react-app my-app --scripts-version custom-react-scripts, but it's fail

![screen shot 2016-10-03 at 15 47 35](https://cloud.githubusercontent.com/assets/4652760/19037779/c217f188-8980-11e6-8d7a-0e2f35bb60c0.png)

How to fix it?

[2016-10-03 13:04] jbach commented on #10
I’ll close this issue. The nonrelated install bug is described in https://github.com/kitze/create-react-app/issues/13

[2016-10-03 13:04] #10 closed

[2016-10-03 13:04] andrewhl commented on #13
I just came here to post the same issue. +1

[2016-10-03 13:07] andrewhl commented on #13
Running:

[code]

inside the project folder gives me:

[code]

[2016-10-03 13:12] jbach commented on #13
@kitze [suggested](https://github.com/kitze/create-react-app/issues/10#issuecomment-251093990) downgrading to Node 6.2.0, which ought to fix the problem. I think it might also be a problem with npm 3.10.3 (introduced with node 6.3.0) rather than node itself, as using npm@3.8.3 on Node 6.7.0 works for me.

It also seems like this is only an issue with `custom-react-scripts` and not with the regular

[2016-10-03 14:45] schabluk commented on #13
Same here. Node v6.7.0, npm 3.10.8.

[2016-10-03 17:44] stereobooster commented on #12
Just an idea add `generate_flow_config` command which wlil add this config to repo (like eject).

[2016-10-03 22:13] julianbetancourt opened #14 "Add .sass support"
I generally use sass (like many people do), so it'd be great to include

`/(\.scss|\.sass)$/
`
on the customezers file

[2016-10-04 16:00] stereobooster opened #16 "Eject doesn't work"
I suppose this is a bit strange request for eject feature in repo which suppose to prevent eject, but reporting it in case you are not aware.

Trying to get to work this thing https://github.com/react-toolbox/react-toolbox-example/pull/35. I want to eject to try to fix it on ejected version and then come up with some solution without eject.

### Description

[code]

[2016-10-04 16:17] stereobooster commented on #16
Added PR, so closing issue

[2016-10-04 16:17] #16 closed

[2016-10-04 19:00] claylevering commented on #13
+1 to this and not really interested in downgrading my Node / NPM (or using alternatives with nvm).

[2016-10-05 08:48] stereobooster opened #19 "Better way to manage webpack config"
I suppose I'm not the only one who finds Webpack configuration hard to maintain.

Configurations are not portable/sharable: there is no (good) way to pack configs in modules and reuse across a project. I want to be able to do something like install module `webpack-sass-config` and it will work out of the box with reasonable defaults (Convention over configuration).

As of now default way to share

[2016-10-05 08:58] mdreizin commented on #19
@stereobooster as author of [webpack-config](https://github.com/mdreizin/webpack-config) I'm happy to help you and answer on any questions.

I created my projects to solve the same issues that you have.
For instance `webpack-config` works with [shareable configs](https://github.com/mdreizin/webpack-config#shareable-configs) out of the box.

PS: Also I would mention [webpack-merge](https://github.c

[2016-10-05 11:22] badenkov opened #20 "Error with installation custom-react-scripts"
Hello! I'm trying to use your fork. But everytime I've got an error when npm install dependencies:

[code]

I've tried two ways:
At first I've created app from scratch:

[code]

At second times I've done

[code]

and then change devDependencies

from

[code]

to

[code]

And everytime I've got same error.
I have
* node v6.6.6
* npm v3.10.8

Thanks and best wishes!

[2016-10-05 14:05] PKief commented on #20
Hi, I've got the same error on Windows 7
node v6.7.0
npm v3.10.3

[2016-10-05 14:19] kitze commented on #14
Fixed.

[2016-10-05 14:19] #14 closed

[2016-10-05 14:54] seanrasmussen commented on #20
I also can't seem to get it working on Windows 7:

`Installing packages. This might take a couple minutes.
Installing react-scripts from npm...

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Users\\Sea
oaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "install" "--save-
exact" "custom-react-scripts"
npm ERR! node v4.4.7
npm ERR! npm  v3.10.8

npm ERR! Path mu

[2016-10-05 15:11] jbach commented on #20
This is a duplicate of https://github.com/kitze/create-react-app/issues/13.

[2016-10-05 19:45] jbach commented on #19
I agree that merging config with the default react-scripts would be better than trying to maintain a fork thereof. This project states that it

But after **creating** the app, `react-scripts` or in this case `custom-react-scripts` is almost everything you work with. Constantly keeping up with `react-scripts` might not be sustainable.

[2016-10-06 10:43] kitze commented on #12
@stereobooster yeah I thought about it too but every line of that .flowconfig 👆 depends if a feature is turned on/off in .env. So if decorator support is toggled in .env, I should check if ```esproposal.decorators=ignore``` is in .flowconfig etc. etc.

[2016-10-06 10:53] kitze commented on #13
@jbach I just merged all the changes from the original create-react-app repo. I also merged few PRs and released version 0.0.15 on npm. I'm still getting the error. I'm investigating what can be the issue...

[2016-10-06 10:54] kitze commented on #20
Closing this one because it's a duplicate. Let's continue the [discussion here](https://github.com/kitze/create-react-app/issues/13).

[2016-10-06 10:54] #20 closed

[2016-10-06 16:26] stereobooster commented on #19
Other question to ask if CRA team want to open doors for such projects and adopt any of listed above techniques, like `webpack-config`, so projects like this code create plugins rather than support fork.

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Open source tools tip: integrations are the killer feature. Reach out to people, help tools recognize each other, make them

[2016-10-07 16:06] andrewhl commented on #13
Godspeed, my friend. I really want to use this library, but this failure is preventing me from even getting off the ground.

[2016-10-07 16:55] stereobooster opened #21 "Support CSSModules for SASS."
I need this feature to have out of the box integration with react-toolbox. See https://github.com/react-toolbox/react-toolbox-example/pull/35

The question is if we have:

[code]

Does it always mean we want CSSModules for SASS? I suppose yes

[2016-10-07 17:16] claylevering commented on #21
+1 to this, I just ran into this and was thinking about possibly contributing code but I'm not the world's best CSS Modules expert... perhaps I'll look at it tonight.

[2016-10-07 17:19] stereobooster commented on #21
Solution is simple, question is how to integrate it

[code]

[2016-10-07 17:30] claylevering commented on #21
@stereobooster - Does that seem to work?

[2016-10-07 18:04] stereobooster commented on #21
Created PR so closing issue. https://github.com/kitze/create-react-app/pull/23

[2016-10-07 18:04] #21 closed

[2016-10-08 14:23] spion commented on #13
Sounds like an issue with bundledDependencies being "fixed" (but not fully) in latest npm: https://github.com/npm/npm/blob/b38573fae383aaaeaec0548c2ae616778a3b5dab/CHANGELOG.md#erk

Specifically it has problems when trying to normalize the path of `babel-preset-es2015` which is a bundled dependency included by `babel-preset-react-app`.

My guess is, if you remove stage-0 from the bundled dependenc

[2016-10-08 16:58] kitze commented on #13
@spion thank you! I'll test it and push a fix asap.

[2016-10-08 17:02] kitze commented on #13
@spion the problem is that bundledDependencies get generated from the release.sh script:

[code]

[2016-10-08 19:12] raygesualdo commented on #13
Just tried to give custom-react-scripts a shot today and ran into this install issue. Any quick fixes or hacks to get it working?

[2016-10-08 19:17] claylevering commented on #13
@raygesualdo I'v gotten around it by temporarily using npm@3.9.5 - `npm i -g npm@3.9.5`

[2016-10-08 19:26] raygesualdo commented on #13
Thanks @claylevering. Installed with npm@3.9.5 then reverted back to current npm version.

[2016-10-08 22:47] spion commented on #13
@kitze maybe something like this would work in `publish.sh`?

[code]

[2016-10-12 19:49] iansoper opened #24 "Option for CSS Modules + Preprocessor"
I would like an option that would allow you to use CSS Modules + LESS/SASS preprocessor. The loader example is shown here on the `react-css-modules` repo.
https://github.com/gajus/react-css-modules#sass-scss-less-and-other-css-preprocessors

[2016-10-14 12:47] schovi commented on #13
Same here
node 6.8.0
npm 3.10.8

[2016-10-16 07:53] kitze commented on #24
@iansoper this will be implemented soon.

[2016-10-28 09:48] DataMkP commented on #9
Thanks for the answers

[2016-11-05 10:29] kitze commented on #13
I removed the bundling of deps, because Facebook [is also planning to remove them too](https://github.com/facebookincubator/create-react-app/issues/986).

Installing should work fine now. Tested with latest node and npm.

[2016-11-05 14:58] seanrasmussen commented on #13
I still get an error -- probably too soon to close this...

[2016-11-05 15:58] claylevering commented on #13
@kitze - Not sure why, but `npm i custom-react-scripts` seems to still be trying to install an older version?

@seanrasmussen - Try this: `npm i --save-dev custom-react-scripts@0.0.17` - this will install at @kitze's latest version and I just verified that it will install in the following environments:

node:  `v7.0.0`
npm: `v3.10.9`

-C

[2016-11-05 17:41] kitze commented on #13
@seanrasmussen can you tell me which combination of node/npm do you have?

@claylevering I have no idea why it would install a different version when on npm it clearly says "0.0.17 is the latest of 16 releases" :|

[2016-11-05 17:57] seanrasmussen commented on #13
@kitze Node: 6.7.0   /   npm: 3.10.8

[2016-11-05 18:16] seanrasmussen commented on #13
BTW -- I just updated to node v7.0.0 and npm 3.10.9 and got the same error....

[2016-11-08 02:45] soulmachine opened #26 "`npm install` failes on newly cloned project"
Previously I created a web project by `create-react-app myapp --scripts-version custom-react-scripts` with decorator enabled, and pushed it to git, then I cloned this project to another computer, and tried to compile it,

    npm install
    npm start

but it fails with the following errors:

    Error in ./src/stores/CounterStore.js
    Syntax error: Unexpected token (6:2)

      4 |
       5 | e

[2016-11-08 02:49] soulmachine commented on #26
Sorry, I forgot to add the `.env` file to git repo, this is why it fails on a new computer.

[2016-11-08 02:49] #26 closed

[2016-11-17 14:22] DarrylD commented on #24
Is this still on the roadmap to be implemented?

[2016-11-19 07:27] karbica commented on #1
Also worth mentioning jest tests fail if a file imports `.scss`, `.styl`, or `.less` style sheets. Besides that, this project is gold.

[2016-11-20 06:34] wong2 opened #29 "Use CSS modules and global css together?"
Hi, with the original `create-react-app`, I can build global css files into my bundle js like this:
`import 'font-awesome/css/font-awesome.css`
Then I switched to `custom-react-scripts` since I want to use css modules inside my react components, it works great. However, it also breaks the global css import as showed above.
Is there anyway I can use both of them? thanks

[2016-11-20 08:25] billel-boudchicha commented on #29
same issue here , with global and local css .
using bootstrap for exemple with some local css, i add (.global.css) to the bootstrap file, and  only (.css) to the local style , and eject my project and add the following to dev.config
`{
        test: /^((?!\.global).)*css$/,
        loader: customConfig.values.CSS_MODULES ? customConfig.values.CSS_MODULES.dev : 'style!css?importLoaders=1!postcss'

[2016-11-20 13:20] topvis opened #30 "Q: Is it possible to use "custom-react-scripts" on an existing app created by create-react-app?"
Is it possible to use "custom-react-scripts" on an existing app created by create-react-app? Or do I have to use `create-react-app my-app --scripts-version custom-react-scripts` to scaffold a new app?
By the way I found your lib by reading your Medium article "Configure create-react-app without ejecting". Very nice article :+1:  Thanks.

[2016-11-20 19:15] lukaszgolder commented on #1
@karbica it was fixed by my PR but isn't published yet

[2016-11-21 08:33] kitze commented on #1
@lukaszgolder is babel-stage-0 also fixed, or just styles?

[2016-11-21 08:35] kitze commented on #30
Yes it's possible. You just need to remove the ```react-scripts``` dependency from package.json and install this package instead. That's it.

Btw: thanks! 🙌

[2016-11-21 08:35] #30 closed

[2016-11-21 08:47] kitze commented on #19
Closing this for now. The way that the config is managed in webpack is not a major priority right now. Something similar is also being discussed in the create-react-app repo.

[2016-11-21 08:47] #19 closed

[2016-11-21 08:51] lukaszgolder commented on #1
@kitze No, I was only referring to error with stylesheets. But I am using some stage-3 features in my project and didn`t come into any error yet.

[2016-11-21 08:58] bebraw commented on #19
@kitze Yeah. If you have time, consider giving [webpack-merge](https://www.npmjs.com/package/webpack-merge) a quick go. I expect it would go a long way if you could provide a place where to literally extend the core configs. You would have to intercept before passing the configuration to webpack but after that you could do quite a few things.

I guess the main problem is that you would be operatin

[2016-11-21 09:10] stereobooster commented on #19
Found another interesting approach https://medium.com/@tacomanator/customizing-create-react-app-aa9ffb88165#.fo1dq49rf

[2016-11-21 10:25] dvkndn commented on #29
Hey guys, this issue is resolved in CSS Modules repo. Please see: https://github.com/css-modules/css-modules/pull/65#issuecomment-248280248

I'm working to push it to Readme FAQ 😄

[2016-11-21 10:53] wong2 commented on #29
@dvkndn great!

[2016-11-21 15:26] kitze commented on #13
Bundled dependencies are now removed. @seanrasmussen I just tested the app with both node/npm combinations that were failing for you. It worked fine: generating, running, building, ejecting.

Can you please try it again and let me know if it fails. Also @claylevering 🙏

[2016-11-22 09:31] kitze commented on #29
@dvkndn awesome!

[2016-11-22 09:57] wong2 commented on #29
a side note to @dvkndn 's solution:
you need to add this line to the top of your `index.js` file to avoid a eslint error:
`/* eslint import/no-webpack-loader-syntax: "off" */`

[2016-11-22 09:57] #29 closed

[2016-11-22 14:55] seanrasmussen commented on #13
@kitze -- not sure why but I'm still not getting a successful install happening (sorry! :-))

[2016-11-22 14:56] kitze commented on #13
@seanrasmussen can you provide a log or something? Are you sure you're running ```create-react-app new-app --scripts version custom-react-scripts``` ?

[2016-11-22 14:58] seanrasmussen commented on #13
Yup -- I just pasted the command from the instructions into the command line and ran it... It issues a throw error... I'm heading out for a meeting now, but I'll re-run and send more info on errors...

[2016-11-22 18:56] seanrasmussen commented on #13
@kitze Here's a snap of my console after the error....
![capture](https://cloud.githubusercontent.com/assets/11204073/20537489/5e4da910-b0bb-11e6-983d-19cf29e1513b.JPG)

[2016-11-23 07:38] kitze commented on #13
Ah okay so this is a completely different error that you're getting. Maybe it's some issue with Windows. Which version are you using?

Also, does the default ```create-react-app app``` command work?

[2016-11-23 12:39] seanrasmussen commented on #13
@kitze  I'm using Windows 7 (64 bit).  I use create-react-app all the time without problems...

[2016-11-29 15:18] maitriyogin opened #31 "react-toolbox"
Hi,
this isn't a bug as such...
I'm trying to get this to work with react-toolbox, which uses both sass and css-modules.
my .env ```
REACT_APP_SASS=true
REACT_APP_LESS=false
REACT_APP_STYLUS=false
REACT_APP_CSS_MODULES=true
[code]
Error in ./~/react-toolbox/lib/link/theme.scss
Module parse failed: /Users/stephenwhite/Documents/Projects/telenor/cc20/c3m-fe/node_modules/react-toolbox/lib/link/theme.

[2016-12-01 15:57] #1 closed

[2016-12-02 19:05] lewisdiamond opened #33 "Feature request: Allow custom .eslintrc or eslintConfig in package.json"
I just want to configure a few eslint options :)

[2016-12-03 16:09] lewisdiamond opened #34 "Add the github repo to the npm package"
This would add a link to this repo from the npmjs.com page and make it easier to get here. Otherwise we need to search for your username.

[2016-12-07 00:11] svicalifornia opened #38 "Which version of react-scripts is this based on?"
Current release version of react-scripts is 0.8.1. But its config files look much different than yours. Which version of react-scripts is this based on?

Please add the forked version to the README.

[2016-12-10 12:11] stereobooster commented on #19
one more in collection https://github.com/andywer/webpack-blocks

[2016-12-10 15:39] joshwcomeau opened #39 "Upgrade to `react-scripts` 0.8.1"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?

Yes

### Description

`react-scripts` [introduced a bug](https://github.com/facebookincubator/create-react-app/issues/1145) in which Jest will auto-mock files in different directories.

I am assuming the latest version of `custom-react-scripts

[2016-12-12 12:15] kitze commented on #39
Done! 🙌

[2016-12-12 12:15] #39 closed

[2016-12-12 12:16] kitze commented on #38
Just updated to 0.8.1 and added the last forked version in the readme.

[2016-12-12 12:16] #38 closed

[2016-12-12 12:18] kitze commented on #34
Hmm, there is already a link in the package.json, and you can see that [it appears on the npm page](http://jmp.sh/YI4GQoU). Anything else that I should add?

[2016-12-12 12:18] #34 closed

[2016-12-12 12:19] kitze commented on #31
@maitriyogin can you please create a repo with the problem so I can try to fix it?

[2016-12-12 12:20] kitze commented on #13
@seanrasmussen I'm not sure if I should leave this issue open. Any updates with the latest version?

[2016-12-12 13:19] kitze commented on #13
@seanrasmussen I'm not sure if I should leave this issue open. Any updates with the latest version?

[2016-12-12 13:44] seanrasmussen commented on #13
@kitze -- I just ran it again and get the same error. Other Win7 users may have the same prob, but if you want to close it go for it. I'll just continue 'ejecting' from the create-react-app to add decorators support..

[2016-12-12 18:23] lewisdiamond commented on #34
I mean for this field.

https://docs.npmjs.com/files/package.json#repository

![screenshot from 2016-12-12 13-20-20](https://cloud.githubusercontent.com/assets/1375600/21111126/11a9295a-c06e-11e6-856d-801f7d7d25bb.png)

[2016-12-13 11:04] blakegong opened #40 "Add Relay support"
May I know is it in your development scope to add Relay support? Specifically support **babel-plugin-react-relay** package by adding *RELAY=true* to *.env* file, to allow writing code like:

[code]

I have tried to modify your *customizers.js* to achieve this and it works great. I would love to submit a pull request to your project as it is under great maintenance from you and is always on par wit

[2016-12-17 22:06] tvojtech opened #42 "react-toolbox - default styles are applied"
Trying to use react-toolbox in React app created by `create-react-app` with `custom-react-scripts` but no styles are applied. [Here](https://github.com/tvojtech/react-toolbox-theme-not-applied) is an app that does not work.

Result looks like
![image](https://cloud.githubusercontent.com/assets/1427446/21290038/dcf973d4-c4ac-11e6-8564-311b84d3841c.png)

Changing `custom-react-scripts/config/customi

[2016-12-22 21:27] creatifyme opened #43 "Sass Globbing Not supported"
I'm trying to use Sass Globbing for file imports but this doesn't seem to be supported.
My Sass file:
`
// Common and Base Styles
@import 'common/breakpoints';
@import 'common/fonts';
@import 'common/colors';
@import 'common/typography';
@import 'common/font-icons';
@import 'common/icons';
@import 'common/base';

// Libraries and plugins
@import 'libs/normalize';
@import 'libs/flexboxgrid';

// At

[2016-12-23 00:27] lewisdiamond commented on #24
There's already a pull request for it

[2016-12-23 20:23] sanfilippopablo commented on #24
Any news on this?

[2016-12-23 20:28] lewisdiamond commented on #24
https://github.com/kitze/create-react-app/pull/35

[2016-12-26 07:36] aligajani commented on #43
@creatifyme  Are you using the underlying sass globbing plugin?

[2016-12-26 07:39] aligajani opened #44 "How do you update react-app folder without overwriting your changes?"
How would I do it without asking you for example? I want to have latest versions of both.

Latest `react-scripts` is 0.8.4

Also please outline all the files that you have modified/added for giving us this custom setup.

Of course, it is for our knowledge. Thank you very much @kitze

[2016-12-29 04:27] souporserious opened #45 "Implement babel-plugin-react-css-modules"
I think it would be cool to implement [babel-plugin-react-css-modules](https://www.npmjs.com/package/babel-plugin-react-css-modules). This would allow us to use `styleName` with CSS modules in our React components.

[2016-12-29 05:01] souporserious opened #46 "Allow override configs"
How do you feel about allowing custom babel and webpack configs? It looks like we can add this pretty easy after seeing [this PR](https://github.com/facebookincubator/create-react-app/pull/1317/files). NextJS did something similar, there is some good info about it in [this thread](https://github.com/zeit/next.js/pull/222). Facebook Incubator sounds like they won't even consider it until late 2017

[2016-12-29 13:55] aligajani opened #47 "Support Hot Module Reloading"
So we can use React Hot Loader.

[2017-01-04 02:01] tgoyer opened #48 "Add root folder qualification to Webpack resolve."
Howdy,

What do you think about adding the root folder as a qualified search location for imports.  That way we could write something like:

`import myComponent from 'src/components/myComponent';`

instead of

`import myComponent from '../../../../../../components/myComponent';`

I believe all you would need to do is add the `root` property to the resolve section of the Webpack config.

[code]

[2017-01-04 05:08] aligajani commented on #48
This seems like a feature request for the original create-react-app library as well @tgoyer ..

[2017-01-04 05:49] tgoyer commented on #48
I'm sure a lot of people are clamoring for it.  It's a no-brainer, really.  Their proposed solution (of using a `node_modules` folder under the src directory just seems.. odd to me.

[2017-01-04 13:27] igorsantos07 opened #49 "Jest fails on pre-processed CSS projects - even in the default-generated app"
### Description
The basic Jest test fails, stumbling upon Less/Sass code.

### Expected behavior
Test should pass - it's the default one, after all.

### Actual behavior
_Project paths were changed for brevity._

[code]

The default application generated also fails with this message:
[code]

### Environment

Run these commands in the project folder and fill in their results:

1. `npm ls react-scri

[2017-01-06 01:51] Valentin-Seehausen commented on #40
+1

[2017-01-06 01:51] Valentin-Seehausen commented on #40
@kitze

[2017-01-07 18:43] chaucerbao opened #50 "Include `src/` path for sass-loader"
Would it be more convenient to add `src/` to the `includePaths` of the SASS loader?

So we can include files in a separate path without counting how many '../' we should have.

[code]

Rather than:
[code]

[2017-01-11 14:12] andrzejsliwa opened #51 "problem with tranforming styles in tests"
steps to reproduce:

[code]

result:

[code]

[2017-01-12 09:07] chriswilty commented on #50
:+1:

[2017-01-12 09:39] chriswilty commented on #48
:+1: Doesn't seem like much to ask for, does it?

[2017-01-13 11:55] sampi commented on #51
This sounds the same as #49

[2017-01-14 15:05] igorsantos07 commented on #51
definitely a dup

[2017-01-21 09:37] cyxn commented on #42
I also have exact same problem. With react-toolbox and groomet - both required css modules

[2017-01-23 22:51] treyspiva opened #54 "Implement support for react-intl"
Is there any plans to implement support react-intl.  Adding React-Intl is not a really big deal. You can easily do an npm install to add react-intl.  The problem is to build message files I am using babel-plugin-react-intl.  The babel plugin needs to update the .babelrc file.  I am not able to get to the .babelrc file without ejecting.  So, I am hoping for a better solution.

Thanks.

[2017-01-31 14:21] FezVrasta opened #55 "Any way to define custom features?"
So, it's nice that we can have more features with this module, but how can we add our own features to it?

Doesn't look good having to bother you for every feature we want introduced.

[2017-02-03 21:02] mwadden opened #56 "Dumb Question: What else is needed to support SASS?"
Other than adding REACT_APP_SASS=true to the .env file, what other steps are required to get SASS working? Here's what I've tried:

1. Renaming App.css to App.scss and changed the import to match
2. Installed various babel loader modules: sass-loader, style-loader, css-loader, postcss-loader, node-sass

I feel like I'm missing something obvious here...

Thx

[2017-02-03 21:18] esausilva commented on #56
I didn't have to install anything additional, just setting `REACT_APP_SASS=true` works...and obviously having the actual SASS file

[2017-02-03 21:53] mwadden commented on #56
So it turns out something was just wonky with my install. I created a new project and now it's working.

[2017-02-03 21:53] #56 closed

[2017-02-04 13:29] kitze commented on #55
The point of this module is to have only sandboxed features that the community needs, so no custom features will be allowed. You're always welcome to fork the original react-scripts (or this package) and allow custom features :)

[2017-02-04 13:29] #55 closed

[2017-02-04 13:32] kitze commented on #47
This won't happen until the original CRA supports HMR, sorry.

[2017-02-04 13:32] #47 closed

[2017-02-04 13:34] kitze commented on #46
There is a good reason that Facebook doesn't want custom configs in CRA. My forked version uses only a certain number of features because I can be 100% sure that every combination of the features will work fine.

If we allow custom configs, a bunch of new issues will come up because *some* combination of features won't work.

For now this will be closed, sorry.

[2017-02-04 13:34] #46 closed

[2017-02-04 13:35] kitze commented on #44
You would have to wait until I update this package to the latest react-scripts, sorry.

I will give an outline of everything modified soon.

[2017-02-04 13:35] #44 closed

[2017-02-04 13:39] kitze opened #57 "Update to react-scripts 0.8.5"

[2017-02-04 13:41] #57 closed

[2017-02-04 13:41] #51 closed

[2017-02-05 08:39] kitze commented on #34
Ah thanks.

[2017-02-05 19:12] aligajani opened #58 "What alternative is available to use SASS with original CRA without using this fork?"

[2017-02-05 21:10] nwolverson commented on #58
Use a separate sass compiler (e.g. node-sass) and import the compiled CSS file in the same way as if you were writing the CSS by hand.

[2017-02-05 21:11] aligajani commented on #58
I mean a more automated approach that watches the file changes?

On Sun, Feb 5, 2017 at 9:10 PM, Nicholas Wolverson <notifications@github.com

--

Ali Gajani
Founder at Mr. Geek
www.mrgeek.me
www.aligajani.com

[2017-02-06 09:32] kitze commented on #58
Will close as an issue, but you can continue discussing here. I think there's a section for this in the original CRA readme.

[2017-02-06 09:32] #58 closed

[2017-02-08 11:19] lucasmotta opened #59 "Feature Request: Use SVG-React-Loader"
Hello there,

Thanks for such a brilliant work you did so far by implementing CSS-Modules and other CSS pre-processors.

I was wondering if it would be possible to implement the [svg-react-loader](https://github.com/jhamlet/svg-react-loader) to handle `.svg` files on JavaScript.

For me it's a no brainer and it makes life much easier to manipulate and customise SVGs as a React component.

[2017-02-08 12:10] smmoosavi opened #60 "Plugable customizer"
Can we have plugable customizer? I mean developer add one file that return customizers:

[code]

[2017-02-11 18:14] aligajani commented on #58
Hi @kitze , can't see the CRA readme section on SASS, can you point it to me please..

[2017-02-13 10:28] danielanteloagra opened #61 "Sass and Css Modules not working..."
I'm trying to create a new project with:
[code]
and the following .env file:
[code]

In my component I then try to import a .scss file but it is not adding the styles in the head. Also when using a css file, when I console log the import, it is not creating the styles object correctly.

I'm using version 1.0.3 of create-react-app, is this the problem? do I need to use an older version? Or what cou

[2017-02-13 19:12] smmoosavi commented on #57
https://github.com/facebookincubator/create-react-app/releases/tag/v0.9.0

[2017-02-14 12:15] danielanteloagra opened #62 "How can i enable jsx-control-statements?"
Just wondering how I can enable jsx-control-statements or if it is something you can add in too.

Thanks,

[2017-02-14 17:27] AshCoolman opened #63 "Example of REACT_APP_CSS_MODULES?"
I've been trying to get REACT_APP_CSS_MODULES=true to work with react-css-modules but I'm missing something. Is there an example anywhere I could check out?

[2017-02-14 17:35] AshCoolman commented on #61
Is it working from imports via regular css files?

[I was playing around with react-css-modules](https://github.com/kitze/custom-react-scripts/issues/63) and this makes me think its working for me no matter what method

[2017-02-15 06:53] AshCoolman commented on #63
Ah somehow I had regular "react-scripts" in the package.json (plus I upgraded custom-react-scripts to 0.0.23)

[2017-02-15 06:53] #63 closed

[2017-02-15 16:57] bluetidepro opened #64 "Is it possible to customize SASS/LESS modules?"
So everything does work fine when I add `REACT_APP_SASS=true` or `REACT_APP_LESS=true` to my `.env` config, but is it possible to extend the module loaders however I want for custom configs?

For example, it looks like you're using https://github.com/webpack-contrib/less-loader for LESS, is it possible for me to somehow add in my own `lessPlugins` (http://lesscss.org/usage/#plugins) I want to use

[2017-02-17 13:11] viankakrisna opened #65 "Use package json instead of .env"
.env is not checked to git, i think it's better to set the customization in the package.json. It would make the projects generated by this easier to share. thoughts?

[2017-02-17 17:42] alexsinfarosa opened #66 "Question: Webpack configuration for the loaders"
Hi,

I am trying to use grommet in custom-react-scripts. On their site they suggest to modify the Webpack configuration for the loaders as the following:

[code]

How do I do that?

Thanks!

[2017-02-17 20:08] smmoosavi opened #67 "question about decorators"
I read your code and I can't find how decorator added to babel

I find this [code](https://github.com/kitze/custom-react-scripts/blob/master/packages/react-scripts/config/customizers.js#L10-L15) in `customizers.js` file and [how](https://github.com/kitze/custom-react-scripts/blob/master/packages/react-scripts/config/get-custom-config.js#L16-L19) `getCustomConfig` function use `toArray` value. But

[2017-02-18 00:54] TheTFo commented on #66
You'll need to eject for this, that will get you your webpack config accessible.

Word of warning, this irreversible.

[2017-02-20 04:41] stevensacks opened #68 "Feature Request: Add Styled JSX"
https://github.com/zeit/styled-jsx

Currently, this requires ejecting because of its babel requirement. Is there a way to add this to CRS?

https://github.com/zeit/styled-jsx/issues/118

[2017-03-03 03:04] jnmandal commented on #61
any idea if this is possible with custom-react-scripts? or do I need to make my own fork?

[2017-03-05 15:02] jwamsterdam opened #70 "Remove experimental decorators warning in vs code"
I have enabled experimental decorators in the .env file, but how do I remove the red warnings underlining my code in vs code?

[2017-03-05 18:56] kitze commented on #70
http://stackoverflow.com/questions/38271273/experimental-decorators-warning-in-visual-studio-code

[2017-03-05 18:56] #70 closed

[2017-03-05 19:09] jwamsterdam commented on #70
The link provided by Kitze did not work for me. This one did work:
https://ihatetomatoes.net/how-to-remove-experimentaldecorators-warning-in-vscode/

[2017-03-10 22:36] ksmithut opened #71 "Plans for updating"
Hey, I've noticed that there hasn't been a lot of work done on this repo for a little while. I'm not here to behold you to keep it updated, I'm just curious if you're still planning on keeping this up to date with `create-react-app`. In the past month or two, it looks like they've moved to webpack 2 and made several other changes that could be benefitted from.

It's totally fine if you're not plan

[2017-03-15 20:42] kitze commented on #68
Keeping this in mind, it will be supported soon.

[2017-03-15 20:43] kitze commented on #67
The point of this fork is to add decorators by just adding: ```REACT_APP_DECORATORS=true``` to an .env file in your project root. You don't have to mess with babel.

[2017-03-15 20:43] #67 closed

[2017-03-15 20:44] kitze commented on #66
Hey @alexsinfarosa, this project won't include custom webpack configs, sorry.

Good luck!

[2017-03-15 20:44] #66 closed

[2017-03-15 20:49] ksmithut commented on #71
@kitze Awesome :) Great work by the way! My team and I love this option when customizing our react apps. Let us know if we can help at all.

[2017-03-15 20:49] kitze commented on #54
Hey @treyspiva, unfortunately to do any type of babel/webpack custom modifications you must eject. This project won't support them.

Cheers!

[2017-03-15 20:49] #54 closed

[2017-03-15 20:51] kitze commented on #59
Hey @lucasmotta, I might actually consider this one. Is it really popular? Is there any way to handle svg?

Just curious.

[2017-03-15 20:56] kitze commented on #42
Hey @cyxn and @tvojtech , the dev of react-toolbox suggests that you should try this method of using it instead -> https://github.com/react-toolbox/react-toolbox-themr

You don't need to customize create-react-app.

Try it and let me know.

[2017-03-15 20:56] #42 closed

[2017-03-15 21:01] #13 closed

[2017-03-15 21:32] kitze commented on #50
@chaucerbao @chriswilty will be done soon!

[2017-03-16 06:53] maitriyogin commented on #31
Hi, yes sorry I should have closed this a while back.  After a thread on RT's issues the docs finally got created and I went over to using their approach.
It works great!
Apologies for not closing this sooner but work life can be a bit hectic at times.
Cheers,
Stephen.

[2017-03-16 09:36] danielanteloagra commented on #62
thanks @kitze ; is this something you could add as default to custom-react-tools? it's very lightweight, and commonly used no a days. Would be a benefit to have it in the base even if not used....

[2017-03-27 18:01] joaquinrulin commented on #61
@kitze was this version already released? I update but it does not seem to work yet

[2017-03-27 19:33] duanefields opened #72 "Feature Request: coffeescript 2 support"
Now that Coffeescript 2 support ES6 output, has there been any thought or discussion around support pre-compliation of coffeescript into ES6 prior to transpiling?

[2017-04-02 06:48] c0debreaker opened #73 "Does not create .env"
I'm not sure if I am missing a step prior to running the command
[code]
After it runs, I go inside my-app and execute ls -lrta. I don't see .env file
What step am I missing?

[2017-04-02 06:54] c0debreaker commented on #73
user error. Typo :)

[2017-04-02 06:54] #73 closed

[2017-04-04 21:58] kirill-konshin commented on #40
Just use Apollo

[2017-04-06 11:16] rvamiracle opened #74 ".eslintrc not created when using yarn"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

Is it supposed to work with yarn?

If I use `yarn install` the file `./node_modules/custom-react-scripts/.eslintrc` is missing. If I use `npm install`, the file is created.

[2017-04-07 02:57] igorsantos07 commented on #49
Closed by #52.

[2017-04-07 02:57] #49 closed

[2017-04-07 08:48] imigalkin opened #75 "import css with css modules"
I'm use css modules. How can i just import (with out transform classes) third part css file? It's possible?

[2017-04-10 00:24] JasonGoemaat opened #76 "Modify existing app?"
Is there a way to modify an existing app to use this?  What sort of magic is done behind the scenes?

[2017-04-10 07:47] kitze commented on #76
Hey @JasonGoemaat, just change react-scripts with custom-react-scripts in your package.json

[2017-04-10 07:47] #76 closed

[2017-04-11 00:45] Swinejamin commented on #61
Any update on this? I'm still not able to make this work, either.

[2017-04-20 16:30] golinmarq commented on #50
@kitze what happen with this?

[2017-04-29 00:32] lnhrdt commented on #45
Not sure about @souporserious but I would!

[2017-04-29 00:43] lnhrdt commented on #59
Not sure how to measure that, but I'm another developer who's settled on this being the best approach for using SVGs in a React app. Because I totally agree with @lucasmotta:

[2017-04-29 20:45] souporserious commented on #45
Sorry, totally missed this. Wondering if we could expand on this and just allow someone to use a `webpack.shared.config` that gets merged into the main one. Then someone could add whatever they wanted :) Thoughts @kitze?

[2017-05-01 08:09] adizam commented on #59
Its the only one worth using IMHO :)

[2017-05-01 17:48] sunnyvempati opened #77 "Using identity-obj-proxy for snapshot testing with CSS Modules"
The template that's generated from snapshot tests has the CSS classnames as `unknown`.  After doing a little bit of research, it looks like the easiest way to solve this is by using `identity-obj-proxy`.

I'm curious on how others are solving this issue if using snapshot testing for components.

If this is the only solution, I can create a PR that adds the following:

[code]

@kitze thoughts?

[2017-05-01 19:32] timworx opened #78 "Updating to latest CRA"
Any word on updating to the latest CRA? I saw a few months ago in a closed issue that you mentioned working towards it.

Cursory diff checks didn't show too terrible of a task ahead, let me know if you'd like any help!

[2017-05-04 15:59] alexrussell commented on #78
Also, the readme should probably mention (and be kept up-to-date with) what version of CRA this package *is* currently 'mirroring' so people can make an informed decision about the use of the package.

[2017-05-08 08:52] joevo2 opened #79 "Typescript support?"
Currently im using this as my CRA script~ it would be great if i could use typescript as well as CSS module and stuff offered in this repo

https://github.com/wmonk/create-react-app-typescript

[2017-05-10 09:30] alexrussell commented on #78
Just realised it does say this quite obviously at the top of the readme, so please ignore my last comment.

[2017-05-16 05:04] dschinkel opened #80 "Add to existing app"
is there a way to apply this to an existing create-react-app?   I'd like to be able to add an .env file so I could start using it in an existing app...

[2017-05-16 13:07] saalihou commented on #80
Yes apparently:
https://github.com/kitze/custom-react-scripts/issues/30

[2017-05-16 16:56] bensleveritt commented on #59
For what it's worth. This is the only outstanding reason for me to eject CRA. Including it would be ace!

[2017-05-17 00:38] dschinkel commented on #80
thanks.  I ultimately went this route: https://www.codementor.io/daveschinkel13/running-mocha-enzyme-with-creat-react-app-84flnngkk

[2017-05-17 00:38] dschinkel commented on #80
I'll update my blog post to put a good mention in for custom-react-scripts as well

[2017-05-17 10:03] klaasman commented on #6
A request is here! `cssnext` would fit well in the already provided list of `sass` and `less`.

[2017-05-18 20:26] themre commented on #78
any plan to update to CRA 1.0? RC is out.

[2017-05-19 09:01] bensleveritt commented on #78
And now the full release!

[2017-05-20 08:31] gate3 opened #81 "Decorators not working"
Here is a copy of my .env file

![image](https://cloud.githubusercontent.com/assets/3597437/26274300/0156e2a6-3d3f-11e7-8b7c-9178cdf47820.png)

But i am still getting this error

![image](https://cloud.githubusercontent.com/assets/3597437/26274303/128958ba-3d3f-11e7-8a2b-bc5f6573c392.png)

[2017-05-20 08:36] adriantwarog commented on #81
Create React App recently went to webpack 2 and a whole bunch of new changes. You may need to use a previous version to use this script.

[2017-05-20 08:39] gate3 commented on #81
sorry i don't understand. I might have to use a previous version of create-react-app right?

[2017-05-23 18:36] sompylasar commented on #24
@kitze So, what's the status on this? The PR https://github.com/kitze/custom-react-scripts/pull/35 was closed unmerged. We could really make use of the way it was implemented, with `_MODULES` variables. Which is the way to use SCSS with modules now?

[2017-05-24 00:13] omasback commented on #81
yes

[2017-05-25 10:49] chemitaxis commented on #78
Hi, any news about it? Thanks!

[2017-05-28 08:35] qstyler opened #82 "How to configure react css modules"
Hi!

I installed this module looking for css modules support in my react app. But one of the node modules seems to have css file with `@import "~quill/dist/quill.snow.css";`. And it complains about tilda.

How can I configure that css modules to avoid that error?

Thanks!

[2017-05-31 17:01] thezanke commented on #78
@kitze mentions plans to update along with the new CRA changes in this thread https://github.com/kitze/custom-react-scripts/issues/71#issuecomment-286872173 that said, not sure if he's abandoned this or not.

[2017-06-02 16:34] timworx commented on #78
@thezanke Sorry - should have referenced that specifically above. But that is indeed what I was referring to by "I saw a few months ago in a closed issue that you mentioned working towards it."

As an update, CRA v1.x is quite well featured. I was primarily using this for SASS support. I switched two of my projects back over to CRA, used their SASS instruction, and it didn't take much time at all.

[2017-06-03 05:12] thezanke commented on #78
Decorators is why I'm here 😭

[2017-06-06 19:17] lewisdiamond commented on #24
@sompylasar You can use this: https://github.com/lewisdiamond/create-react-app/tree/v1.0.1c/packages/react-scripts
I don't guarantee any timely updates on that repo.
Basically remove the current react-scripts from your project and add customizable-react-scripts@1.0.1, then create a `config` directory and add webpack.custom.{dev|prod}.js and modify what you need from the webpack config.

There's an

[2017-06-06 20:04] sompylasar commented on #24
@lewisdiamond Thanks. I ended up using https://www.npmjs.com/package/custom-react-scripts-with-modules

[2017-06-06 21:30] lewisdiamond commented on #24
@sompylasar that one is outdated though

[2017-06-08 18:46] madwill opened #83 "Custom react scripts on a build server ?"
Present the idea of scaffolding create-react-app with custom-react-script which is nice

But what if one needs to builds from existing source or more importantly in this case, build on a server ?

If i do a normal npm install and then npm run build i get the expected "unexpected token" error. How can i make custom-react-script be run everywhere instead of just where i scaffolded my app

Thank you

[2017-06-09 17:04] BenBenz commented on #83
I have the same error @madwill, I'm looking to a solution

[2017-06-09 17:10] BenBenz commented on #81
How I can have decorators in production at this time ?

[2017-06-09 17:10] BenBenz commented on #81
@gate3 Have you solved your problem ?

[2017-06-09 17:34] madwill commented on #83
I ejected. Good luck Ben!

[2017-06-12 11:33] MrLoh opened #84 "Feature Request: allow to merge custom babel config"
Next.js has the nice functionality of allowing to merge in a custom babel config. See: https://github.com/zeit/next.js/issues/26

This would enable to do things like adding an import plugin for andtd (https://github.com/facebookincubator/create-react-app/issues/2463) or similar issues.

[2017-06-14 11:13] hipertracker opened #85 "Non-relative paths without eject"
Is it possible to use non-relative paths without eject?

[2017-06-14 12:28] hipertracker commented on #85
The solution is simple than I thought. The solution is adding the file `.env` with line: `NODE_PATH=./env`

[2017-06-14 12:28] #85 closed

[2017-06-18 20:42] lnhrdt commented on #59
Development seems to have slowed down (sincere thanks @kitze for what it is today). So when I came across this issue again today in another project I found another approach I thought I'd share here.

I learned enough odds and ends about create-react-app and Webpack today to write this unfortunate import statement:

[code]

It's not an ideal approach but now I can import an `*.svg` file using react

[2017-06-19 08:42] oarashi opened #87 "SASS problem"
Using latest version of npm (5.0.3) and node (8.1.1).

I've run into a critical problem with SASS.

Application works perfect in UNIX* system, but crashes in Windows.

In process of building it crashes because cannot find 57 binding.node for node-sass.

Tried CRA without custom scripts - build had problem only with decorators and throw no error about node-sass.

Can You please help me to solve the

[2017-06-20 12:01] jmcrthrs commented on #87
Did you commit your node_modules directory?

If so, you will need to rebuild the node-sass binary for your new environment (Windows):

`npm rebuild node-sass`

[2017-06-21 08:52] oarashi commented on #87
@jmcrthrs Thank you for responding.
I've tried to run `npm rubuild node-sass` already but it didn't work.
Here is an error log that I see after creating new CRA (with custom scripts) project and run npm start:
https://gist.github.com/oarashi/f52db8f0fa2f1b4f9d688f2359f8f667

[2017-06-22 12:34] vlad-x commented on #47
Just referencing a workaround here:
https://github.com/facebookincubator/create-react-app/issues/93#issuecomment-278625166

[2017-06-23 18:47] achntrl opened #88 "Feature Request: add .env*.local support"
create-react-app incorporated a feature that allow using local env files. It would be nice to have this on custom react scripts too to avoid the versioning of local url and/or production passwords

The file responsible for that can be found there
https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/config/env.js

Thanks !

[2017-07-13 03:51] sompylasar commented on #24
@lewisdiamond Where can I find the sources for https://www.npmjs.com/package/custom-react-scripts-with-modules ? I like the simplicity of "env" variables for commonly used features and not dealing with webpack configs (otherwise how is create-react-app different from a hand-rolled webpack config?), so I'd like to fork it and update with the latest upstream fixes such as https://github.com/facebook

[2017-07-13 13:58] lewisdiamond commented on #24
@sompylasar the source was removed. But it's essentially this pull request: https://github.com/kitze/custom-react-scripts/pull/35

I went for the webpack config route to minimize the changes vs CRA and make it easier to pull upstream changes. It really doesn't have to be any different from using the env file. It's only a function that gets an object and returns an object.

https://github.com/lewis

[2017-07-13 14:45] sompylasar commented on #24
That's unfortunate...

Well, one or two lines with flags is different than a function and helpers that I need to copy to every project I bootstrap.

This is exactly what I'm trying to avoid. This doesn't scale.

[2017-07-13 15:11] lewisdiamond commented on #24
@sompylasar make your fork of it and just copy the config helpers in the react-scripts package. It doesn't have to be done for every project. You can also send me a pull request with the config helpers integrated and add a function that adds css modules support. Like I said, I don't want to spend too much time on that since CRA will add support for these things soon. It will probably be JSS.

[2017-07-13 15:42] sompylasar commented on #24
@lewisdiamond Thanks. I just didn't want to have / make yet another custom react scripts package in the npm; the "custom" one (not "customizable") with env vars and modules served the best, except it's not up to date and doesn't support typescript (for that there is separate which doesn't support everything else). How can we revive it for the sake of zero-config flag-based features? Maybe you coul

[2017-07-13 18:09] lewisdiamond commented on #24
It can be "zero-config" without being strictly flag-based in the env file.

[code]
The user interface of customizable-react-scripts/helpers is just more basic right now.

You can also fork this repo and add your changes.

[2017-07-13 18:34] sompylasar commented on #24
That looks better, as long as the "helpers" are in a published maintained module like yours, not copy-pasted into each of the bootstrapped projects from a README.

[2017-07-13 18:37] lewisdiamond commented on #24
@sompylasar Like I said before, I don't have time to deal with that. You can send me a pull request that integrates them in and I'll merge.

[2017-07-13 18:48] sompylasar commented on #24
@lewisdiamond Got it, thanks for your support!

[2017-07-14 08:39] sompylasar commented on #24
Related:
- https://github.com/facebookincubator/create-react-app/pull/2784 (PR)
- https://github.com/facebookincubator/create-react-app/issues/2525
- https://github.com/facebookincubator/create-react-app/issues/2498
- https://github.com/facebookincubator/create-react-app/issues/2278 +  https://github.com/facebookincubator/create-react-app/pull/2285 (PR)

[2017-07-14 18:32] vine77 commented on #6
I would also love to be able to use cssnext.

[2017-07-26 19:05] dwelch2344 commented on #30
For those of us who are lazy:
```yarn remove react-scripts && yarn add custom-react-scripts```

:)

[2017-07-31 21:08] soutomario opened #89 "Storybook - Support"
Hi, how are you all?

I was creating a new setup with https://github.com/storybooks/storybook, and when I Include an stylus file the storybook can`t read the file because they need to add an extension for webpack for make everything work.

How could I implement this?

[2017-08-05 06:40] koktingfeng opened #90 "Does anyone personally know a person by the name of Emmanuel Henri from Granby, Quebec?"
I NEED YOUR HELP

Does anyone personally know a person by the name of Emmanuel Henri from Granby, Quebec (https://www.facebook.com/mannyhenri https://twitter.com/mannyhenri and https://www.linkedin.com/learning/instructors/emmanuel-henri)?

I have previously engaged Emmanuel Henri to complete a project which he has collected up to $10k of deposit, but has failed to deliver, and he has in fact disa

[2017-08-09 08:44] willhackett commented on #50
Instead of hardcoding src, perhaps mimic the paths included in NODE_PATH env var—let me know if you'd like a PR.

[2017-08-10 07:16] nickretallack commented on #78
With no updates in 6 months, it seems this package is abandoned.  I need the newer version of react-scripts for its new proxy settings.  Guess I'll have to eject.

[2017-08-10 10:02] kitze commented on #24
I have finally added this in the latest version. You can have any combination of modules + preprocessor by adding ```module``` before the file extension. For example: ```header.module.css``` or ```footer.module.less```.

Let me know if it works okay 👌

[2017-08-10 10:02] #24 closed

[2017-08-10 10:02] kitze commented on #87
Thanks @oarashi, can you please try with the latest version?

[2017-08-10 10:03] kitze commented on #43
@creatifyme @aligajani can you try if it's okay with the latest version?

[2017-08-10 10:06] kitze commented on #81
@gate3 can you try with the latest version of custom-react-scripts? I have just released it.

[2017-08-10 10:06] kitze commented on #80
Thanks @dschinkel 👌

[2017-08-10 10:06] #80 closed

[2017-08-10 10:08] kitze commented on #65
@viankakrisna I changed my mind about this because the CRA team is using .env for configuring the project, so the options will remain in .env.

[2017-08-10 10:11] kitze commented on #84
I would like to keep custom-react-scripts sandboxed, but I'm thinking about this.

[2017-08-10 10:11] kitze commented on #83
@BenBenz @madwill don't forget to commit .env file to git. That was the problem.

[2017-08-10 10:11] #83 closed

[2017-08-10 10:23] kitze commented on #82
I don't know, sorry :(

[2017-08-10 10:23] #82 closed

[2017-08-10 10:23] kitze commented on #78
Updated to latest version (with webpack 3) + added support for css/sass/less/stylus modules 🎉

[2017-08-10 10:23] #78 closed

[2017-08-10 10:26] kitze commented on #75
@imigalkin I just added support for this.

If you want to import a css file you will do ```import 'blah.css'``` and if you want to import a module you will do ```import styles from 'blah.module.css'```

Let me know if it works.

[2017-08-10 10:26] #75 closed

[2017-08-10 10:26] kitze commented on #77
I have no idea @sunnyvempati. I just released a new version of custom-react-scripts, can you try if it works without adding any config?

[2017-08-10 11:36] alexrussell commented on #78
Well that escalated quickly!

[2017-08-11 00:48] lnhrdt commented on #65
This doesn't provide an obvious solution for putting custom-react-scripts configuration under source control though – .env is commonly excluded from source control because it often contains sensitive information / secrets. Thoughts?

[2017-08-11 09:59] TechyTimo commented on #30
I failed to move my project...
I had a create-react-app already working then I did the following:

`npm remove react-scripts --save-dev
npm install custom-react-scripts --save-dev`

**1. It didn't generate any .env file.**

Also I changed my package.json file to reference "custom-react-scripts" as opposed to "react-scripts"

**2. "npm start" failed with "custom-react-scripts: command not found"**

[2017-08-11 10:30] TechyTimo commented on #30
Sorry... I actually got it solved by just using the command react-scripts instead of custom-react-scripts for the scripts part of my package json

[2017-08-12 19:00] threehams commented on #79
Once Babel 7 is released, this wil be much much simpler - add babel-preset-typescript, replace babel-preset-react with three plugins to remove Flow (syntax-jsx, transform-react-jsx, transform-react-display-name), add .ts and .tsx extensions to Webpack config, and change `config/paths.js` to look for `src/index.tsx` instead of `src/index.js`.

This will use babel for compilation instead of Typescri

[2017-08-14 08:34] viankakrisna commented on #65
I'm on a phone now, so i cant link much. but the convention from cra is .env is checked to git. So i think it's safe to close this. You can see the generated .gitignore to see which .env is ignored.

[2017-08-14 08:34] #65 closed

[2017-08-14 10:59] viankakrisna commented on #65
you can use https://github.com/facebookincubator/create-react-app/blob/80a7fc391df112bcb9f2c669b3932d4b3d0856fc/packages/react-scripts/template/gitignore#L14-L17 to store environment specific variables.

here's the docs for it https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-development-environment-variables-in-env

[2017-08-16 10:40] amit1911 commented on #50
+1. This would be really useful. Also it would be good to have `node_modules` in the path. Any idea when this will be implemented?
Great work on the project btw. I can easily use any combination of preprocessor and module.

[2017-08-16 21:37] jason-henriksen opened #92 "Decorators work... but not with npm run test"
### Is this a bug report?

Yes

### Can you also reproduce the problem with npm 4.x?

NPM 5.3.0 fails.
Yarn 0.27.5 fails.
I did not try going back to npm v4.

### Which terms did you search for in User Guide?

I searched for test and decorators.  MobX, etc.  No luck.

### Environment
NPM 5.3.0
node v6.9.2
custom-react-scripts: 0.1.4
react-scripts does not come up.

Windows 10 + Chrome

### Steps t

[2017-08-17 07:58] amit1911 opened #93 "Import error with modules mode, composes and sass"
Please refer to the following for details
https://github.com/webpack-contrib/css-loader/issues/131

Setting `importLoaders: 2` seems to fix the issue. I tried this and it works for me.

[2017-08-17 13:07] kitze commented on #93
Hey @amit1911, thanks for the issue. Cano you open a PR with the fix? Tnx!

[2017-08-17 13:07] kitze commented on #92
Oooh I have to fix this, tnx @jason-henriksen

[2017-08-17 13:14] amit1911 commented on #93
Hey @kitze, I am a bit new to webpack and all I know about this is from what I read in the issue. I am not sure if just setting `importLoaders:2` is good enough. If you think this is all that is required, then I can submit a PR.

[2017-08-17 14:22] kitze commented on #92
Fixed.

[2017-08-17 14:22] #92 closed

[2017-08-17 16:59] jason-henriksen commented on #92
I'm sorry to be dense, I'm relatively new to this ecosystem.

I used git to clone the repository, then "yarn --check-files" to load dependencies, the "yarn build" to try to build something.  But the output doesn't look anything like what I have in my node_modules.  I also can't find a way to get these changes into my system via npm.

I'm sorry to ask for remedial education, but I'm not sure how to

[2017-08-17 18:47] tnhu opened #95 "Feature request: Use terminal version of webpack-dashboard"
I wonder what is the reason to incorporate Electron version of webpack-dashboard  instead of its terminal one?

[2017-08-17 18:57] kitze commented on #95
@tnhu The terminal one needs messing around with the original react-scripts, and basically disabling all of the output in favor of webpack-dashboard.

Not worth the hassle, sorry.

[2017-08-17 18:57] #95 closed

[2017-08-20 13:33] helios1138 opened #97 "CSS Modules localIdentName configuration"
Is it possible to configure `localIdentName` to be something else? Specifically, to have it be different for `development` and `production` builds? Currently it puts a huge hash in both. Preferably, I would like to have something readable, like `[name]_[local]____[hash:base64:2]` in dev and the default hash (with no options or local names) in prod.

[2017-08-21 16:10] hipertracker opened #98 "CSS modules don't work, import returns undefined"
### Is this a bug report?

Yes

### Can you also reproduce the problem with npm 4.x?

Yes

### Which terms did you search for in User Guide?

### Environment

1. `node -v`: v8.4.0
2. `npm -v`: 4.6.1
3. `yarn --version` (if you use Yarn):
4. `npm ls react-scripts` (if you haven’t ejected): 0.2.0

Then, specify:

1. Operating system: macOS Sierra 10.12.6
2. Browser and version (if relevant):

### St

[2017-08-21 20:59] hipertracker commented on #98
I was using older version before (0.0.12). The file has to use ".module".css part for CSS modules now. So it is all fine.

[2017-08-21 20:59] #98 closed

[2017-08-22 02:09] joevo2 commented on #79
Interesting thanks for the update @threehams

[2017-08-22 07:18] jason-henriksen opened #99 "is custom-react-scripts compatible with react-loadable"
### Is this a bug report?
Yes?  Not sure if its in your power to affect or not.

I'm trying to put a react-loadable component into my react-router system and if fails to compile, but due to a problem in a file I don't know about.

Creating an optimized production build...
Failed to compile.

Module parse failed: C:\src\MQ\MQ-UI\node_modules\babel-loader\index.js?{"babelrc":false,"presets":["C:\\sr

[2017-08-22 07:20] jason-henriksen commented on #99
I didn't mean to submit that yet, I realized how far out of date I am.

Can I just update custom-react-scripts and that will correctly update the dependencies?

[2017-08-22 22:45] jason-henriksen commented on #99
Just to be clear:  with a separate app that was created recently, code from react-loadable works just fine.
I'm going to get my really old application up to date and I expect it will go smoothly from there.

[2017-08-22 22:45] #99 closed

[2017-08-29 17:36] DarrylD opened #100 "Decorators in jest?"
Like most, I started using this variant of CRA for the decorators. Backfires when trying to use Jest. Is it a way to use Jest with decorators?

[2017-08-29 23:27] MFry opened #101 "Build script does not terminate on its own"
### Is this a bug report?
Yes

### Can you also reproduce the problem with npm 4.x?

### Environment

1. `node -v`:  `v7.10.1`
2. `npm -v`: `5.3.0` and `4.6.1`
3. `yarn --version` (if you use Yarn): `0.27.5`
4. `npm ls react-scripts` (if you haven’t ejected):

### Steps to Reproduce

[code]

### Expected Behavior
[code]
It terminates in some finite amount of time.

(Write what you thought would ha

[2017-08-30 05:36] jason-henriksen commented on #100
I thought you fixed this recently, but now I am seeing the same issue on 0.2.0.

[2017-08-30 20:42] jason-henriksen commented on #100
OK, I see the problem.  The fix that was provided on issue 94:
https://github.com/kitze/custom-react-scripts/pull/94

Is for some reason not in the builds.  Maybe the builds are running from a branch or something?
This is why my work computer is OK, but my other computers are not.  I manually patched in the fix on my work computer.

If you want to locally patch your system to get up and running yo

[2017-08-31 00:36] DarrylD commented on #100
thanks @jason-henriksen, i'll give this a try

[2017-08-31 04:33] kimhanjoon commented on #101
I have same issue with v0.2.0 but it is ok with v0.1.4. (node v6.11.0, npm v5.2.0)

[2017-09-01 11:35] alexsinfarosa commented on #101
I am having the same issue with v0.2.0.

[2017-09-02 03:23] ecstasy2 commented on #100
+1 on fixing this.

[2017-09-07 13:50] fmsouza commented on #100
I've already tried @jason-henriksen fix and it actually works very well. The problem for me is that I need it to be working on clean builds as well, as my application goes through a CI process before building. So this kind of manual fixes won't work, unless I add my whole `node_modules` to versioning...

[2017-09-07 17:52] DarrylD commented on #100
I'm kinda in the same boat...

[2017-09-08 03:04] muhammedMoussa opened #103 "Error when running on another port"
### Is this a bug report?

yes

### Can you also reproduce the problem with npm 4.x?

i think this issue not related to npm ver

### Which terms did you search for in User Guide?

### Environment

1. `node -v`: 6.11.2
2. `npm -v`: 3.10.10
3. `yarn --version` : 0.27.5
4. `npm ls react-scripts`:

Then, specify:

1. Operating system: Linux Mint
2. Browser and version (not relevant):

### Steps to Rep

[2017-09-12 15:03] janterlaak opened #104 "Does not work anymore"
after installation and creating a project

yarn start

/Users/j/test/myapp/node_modules/custom-react-scripts/scripts/start.js:21
  throw err;
  ^

RangeError: Invalid string length
    at Object.stringify (native)
    at serializeMap (/Users/j/test/myapp/node_modules/inspectpack/lib/utils/cache.js:26:15)
    at getCacheFilePath.then.filePath (/Users/janterlaak/test/myapp/node_modules/inspectpack/l

[2017-09-12 15:22] janterlaak commented on #104
Removing the last line from the .env file does the trick

[2017-09-14 09:43] OshotOkill commented on #104
Got the same error too:

<img width="1300" alt="2017-09-14 5 37 44" src="https://user-images.githubusercontent.com/6079112/30422787-932efb00-9906-11e7-8734-0a5b7dd85981.png">

It suddenly happened while coding. It's really weird since I don't do anything to `package.json` or any configuration files. I commented most of my code and only left `index.js`, however the error still happened.

[2017-09-14 09:51] janterlaak commented on #104
Open your .env file and remove the last line of the configutation.  Save the file and run again

[2017-09-14 15:20] gr33k01 commented on #101
Same issue here with v0.2.0. Would love to have this resolved so I can plug and play with heroku + create-react-app build pack. This currently stalls the build indefinitely.

[2017-09-15 02:24] OshotOkill commented on #104
@janterlaak That works.

I dig out a lot bit more and find out the real problem is `REACT_APP_WEBPACK_DASHBOARD` in `.env` file. It seems the internal module `inspectpack` is broken somehow and effects the webpack dashboard. After remove it the dev-server would work fine.

[2017-09-15 05:08] jseminck commented on #100
Same problem for me. A release would be great!

[2017-09-17 02:48] fmsouza commented on #100
@kitze Do you have an ETA for a new build with this fix?

[2017-09-17 13:13] jseminck opened #106 "Testing with Jest and CSS Modules"
Currently when using CSS modules and writing unit tests with Jest, the class names show up as `undefined`.

Jest suggests a way to mock CSS modules using the `identity-obj-proxy` package: https://facebook.github.io/jest/docs/en/webpack.html#mocking-css-modules

Can this be added to the Jest setup? I can help out with a PR if needed.

[2017-09-19 11:16] helios1138 commented on #97
any help?

[2017-09-19 18:21] jcheroske opened #107 "Support babel-plugin-module-resolver if possible"
I'm currently moving a project that was started in next.js back into CRA. One of the biggest frustrations has been the loss of `babel-plugin-module-resolver`. We're using `NODE_PATH`, but that only lets us designate one directory as a library directory. Module resolver was much more powerful and configurable. Is it possible to add support for it in this custom scripts package?

[2017-09-22 11:53] euan-gwd opened #109 "feature Request: Please remove forced filename convention for CSS Modules"
Hi
Currently when only using REACT_APP_CSS_MODULES = true;
there is currently a forced Filename convention of {name}.module.css

Could you please remove the forced filename convention.
for any new users who don't completely reading the readme properly..
and spend hours debugging why their css module imports don't work..

Thanks.

[2017-09-22 11:58] euan-gwd commented on #109
Because I can't seem to read the README properly...

[2017-09-22 11:58] #109 closed

[2017-09-24 17:14] gvasilei commented on #100
This fix would make my life so much easier! Please add to a release when possible :)

[2017-09-30 15:59] helton commented on #101
I'm facing this problem too.
As a workaround I followed the steps:

- I installed `timeout-cli` and `shelljs` packages as dev dependencies
- I changed my build script to: `node build.js`
- I created a `build.js` file with the content below:
[code]

This is definitely **not a good solution**, but it doesn't hide any build issues and it makes sure the build script finally ends on its own.
I can fina

[2017-10-06 22:55] Otas13 opened #110 "CPU, RAM drain"
Hello, im experiencing big resources drain on windows. With normal react-scripts there were only one process that consumed ~450MB of RAM, but with custom react scripts there is about 3 more processes that were keeping about 40MB, but now are at 300 - 400MB. I've checked if node_modules folder is under ignored in webpack config, and it is. Anyone else experiencing this trouble? I really need sass m

[2017-10-08 19:54] #110 closed

[2017-10-09 19:08] marcosfede commented on #110
Also experiencing this issue, It spawns 4 node processes and keeps my cpu at almost 100%

[2017-10-09 19:21] marcosfede opened #111 "CPU, RAM drain"
same issue as #110, reopening here since the original author closed that one.
I'm having several node proceses spawned, taking almost 90% of CPU Power and 500Mb of ram each. Hot reloading is also impacted, taking between 5 to 10 seconds to reload after a changed is saved.

OS: Tested on both Linux and Mac
custom-react-scripts version : 0.2.0
react version: 16

[2017-10-11 09:46] euan-gwd commented on #6
+1

[2017-10-11 16:26] kitze commented on #101
PR is merged now, sorry for the delay

[2017-10-11 16:26] #101 closed

[2017-10-11 16:36] kitze commented on #111
Thanks for reporting @marcosfede, any ideas what can cause this?

[2017-10-11 16:40] kitze commented on #110
@Otas13 any idea what can cause it?

[2017-10-11 23:59] frankstallone commented on #89
If I remember correctly, you need to do this via Storybook's [Extend Mode](https://storybook.js.org/configurations/custom-webpack-config/#extend-mode).

[2017-10-12 06:52] Otas13 commented on #111
Try to update latest react-scripts, i solved this by creating fresh fork of cra and adding just sass which works just Fine.

[2017-10-12 16:12] SamMcFaddenBJSS commented on #97
Hello. Thanks for all the work on this package. It would be great to be able to configure the localIdentName or make the default as helios suggests. Any chance of this please? Thanks!

[2017-10-13 09:47] hipertracker commented on #101
It's merged but npm package is not updated :(

[2017-10-15 07:05] psycura commented on #111
i`m facing same issue.
Otas13, how i can update only scripts?

[2017-10-15 09:02] kitze commented on #101
Hey @hipertracker, new version is published now. Let me know if it's fine!

[2017-10-16 00:58] helton commented on #101
@kitze I've just tested. The new release worked fine 👍
Thanks, guys!

[2017-10-16 10:45] hipertracker commented on #101
Works fine now. Thanks!

[2017-10-17 15:39] skeet commented on #88
I just tested this and it already seems to work.

My `.env.production.local` file takes precedence over `.env` when I run `yarn build`.

Just remember to make sure that damn serviceworker isn't caching things...

[2017-10-21 00:55] moos opened #112 "Old restrictive Facebook copyright shown in public files"
### Is this a bug report?

Yes

### Can you also reproduce the problem with npm 4.x?

n/a

### Which terms did you search for in User Guide?

n/a

### Environment

1. `node -v`:
2. `npm -v`:
3. `yarn --version` (if you use Yarn):
4. `npm ls react-scripts` (if you haven’t ejected):

Then, specify:

1. Operating system:
2. Browser and version (if relevant):

n/a

### Steps to Reproduce

n/a

### Exp

[2017-10-22 18:28] rodrigocfd commented on #97
Right now this configuration is hardcoded [right here](https://github.com/kitze/custom-react-scripts/blob/e6cdbfcf912a04247ff24a93c139d6cac2e3365c/packages/react-scripts/config/custom-react-scripts/webpack-config/style-loader.js#L23). It would be nice to have this constant configurable through **.env** file, with the code being something like this:

    localIdentName:
      process.env.REACT_APP_

[2017-10-23 07:40] iamrobinpham opened #113 "Is there a way to make webpack dashboard not a dependency?"
Webpack dashboard is dependent on `inspectpack` which is dependent on `better-sqlite3` which is really heavy and slows down the yarn installation process by a ton. Is there a way to completely get rid of webpack-dashboard?

[2017-10-25 12:32] JCQuintas commented on #111
Having the same issue.

[2017-10-25 12:40] JCQuintas commented on #113
this would be great actually

[2017-10-28 14:59] geloescht opened #114 ".env options have no effect due to incorrect syntax"
All options set by editing the .env file that is created by default have no effect whatsoever. The reason is, that the environment variables include semicolons at the end of each line. But config/custom-react-scripts/config.js expects the value "false" without a semicolon, thus enabling every single option if it finds "false;" instead.

BTW: webpack-dashboard seems to introduce serious memory leak

[2017-10-28 15:01] geloescht commented on #111
On my installation those issues were due to webpack-dashboard which was not disabled even if I thought I had done so. See #114

[2017-10-30 03:54] tim-field opened #115 "1.0.14 upgrade"
Hi, thanks for your work on this, do you have plans to update to the react-scripts version ( currently 1.0.14 )

[2017-11-02 22:05] aislanmaia commented on #115
For now, it is 1.0.16 the latest version.

[2017-11-06 16:14] ortonomy opened #116 "add boilerplate ``.env`` file"
### Is this a bug report?

NO

We should provide a boiler plate .env file as part of the repo / install. Typing out all available options is a minor inconvenience.

[2017-11-06 21:37] mromanoff commented on #6
+1

[2017-11-07 15:16] exdeniz opened #117 "How I add stylus options?"
Like
[code]

[2017-11-08 19:29] amadeogallardo opened #119 "Exception thrown when combined with Office UI Fabric React"
### Is this a bug report?

Yes

### Can you also reproduce the problem with npm 4.x?

Yes

### Which terms did you search for in User Guide?

Not tracked in user guide nor current issues, very specific to Office-UI-Fabric-React compatibility.

### Environment

1. `node -v`: v6.11.4
2. `npm -v`: 4.1.2
3. `yarn --version` (if you use Yarn): 1,3,2
4. `npm ls react-scripts` (if you haven’t ejected): `

[2017-11-08 19:47] #119 closed

[2017-11-12 19:12] 5angel opened #120 "css module hash size?"
Hello there. Is there a way to specify hash size of css modules? Classnames seem unnecessary long right now.

[2017-11-15 22:17] bafxyz commented on #120
Want this one as well

[2017-11-16 18:42] webmobiles commented on #115
I've thought last was 1.0.15, readme of custom-react-scripts at the top says 'Latest version of original react-scripts: 1.0.11' ?

[2017-11-17 07:34] pedsmoreira commented on #111
Same here. Thanks @geloescht

[2017-11-17 07:41] pedsmoreira commented on #111
Disabling REACT_APP_WEBPACK_DASHBOARD did the trick for me. (I event using it. Maybe, if it was connect it wouldn't cause this. I don't know :/)

[2017-11-19 15:13] billcreative commented on #120
👍 I agreed too

[2017-11-22 20:47] wichopy commented on #100
@fmsouza As a workaround to customizing a clean build for CI with decorators, I've checked in the modified react script config files in my repo and copied over the files to my node_modules folder as part of the install phase of my CI pipeline.

Something like this in Jenkins:
[code]

Not the prettiest solution but it got the job done for me until we get decorators included with CRA.

[2017-11-24 19:22] #100 closed

[2017-11-27 02:42] artursmirnov commented on #115
It's 1.0.17 already

[2017-11-27 06:41] JohnAlbin commented on #115
NPM shows that "custom-react-scripts 0.2.1 is the latest of 27 releases".

https://www.npmjs.com/package/custom-react-scripts

I think we need to publish the most recent version of this package to npm.

[2017-11-27 07:25] JohnAlbin commented on #115
BTW, the normal work-around of using the github url directly (to get the latest unpublished package) instead of the npm name doesn't work because there is no "name" in package.json.

[code]

[code]

Why does custom-react-scripts's package.json not have a `"name"`? And why does it have a `"private": true`?

[2017-11-27 12:47] jurosh commented on #114
Got same performance issues, thanks god for your advice to remove semicolons.. I've created PR for this, so hope we can fix this critical issue...

[2017-11-27 20:22] robstown commented on #81
I get the same error.  Decorators don't seem to be working.  Upgraded to version 1.0.11.  Any ideas why?

[2017-12-02 14:04] DayDarkDark opened #122 "can't use react-app-rewired"
when I use react-app-rewired, like this :
https://mobile.ant.design/docs/react/use-with-create-react-app-cn
has error :
$ react-app-rewired start
module.js:538
    throw err;
    ^

Error: Cannot find module 'react-scripts/package.json'

[2017-12-04 12:52] RIP21 commented on #122
Because it's not create-react-app. It's custom-react-scripts. Please watch https://github.com/facebookincubator/create-react-app
And use them.

[2017-12-05 00:41] archae0pteryx opened #123 "custom .env vars no accessable?"
Am i missing something? Adding vars to either .env or .env.local are not available via process.env?

[2017-12-08 17:25] helios1138 opened #124 "ExtractTextPlugin: "ignoreOrder" needs to be set in production config"
long story short: https://github.com/redbadger/website-honestly/issues/128#issuecomment-343254471

[2017-12-08 20:31] rclai commented on #81
Guys how do you get around this:

[code]

This is from eslint.

[2017-12-19 06:59] a-atalla commented on #113
+1
actually will be better to remove all the dependencies and make it optional with configuration
if you need this install that

[2017-12-27 12:41] antoniobrandao opened #126 "Add babel-plugin-react-css-modules?"
### Is this a bug report?
No, just a question

------

Would it be worth considering implementing babel-plugin-react-css-modules in this awesome project? It offers better performance and a nicer syntax.

https://github.com/gajus/babel-plugin-react-css-modules

[2018-01-11 19:24] zetekla opened #127 "how to use this package in an existing create-react-app ?"
how to use this package in an existing create-react-app ? Can I just install it with `npm i -S custom-react-scripts-ts` and replace `react-scripts start` with `custom-react-scripts start` in package.json?

[2018-01-12 01:48] clintandrewhall commented on #127
I’m not at my laptop, but this was something I neede, too.  I can post/pull request instructions when I get home... but I was able to by creating a dummy app and comparing my package.json file.

Be sure to blow away any custom .babelrc and your node_modules.  I use Flow and my babelrc file ruined everything.

I’ll make a note to add a pull request with my end result.

[2018-01-15 09:59] artemirq commented on #120
@5angel @bafxyz @billcreative I created repository based on this, but with fresh source from origin create-react-app and short css classnames. Supports now only CSS Modules, SASS & SASS Modules. Create issue, if you need other features
https://github.com/artemirq/advanced-react-scripts

[2018-01-15 12:11] fandy commented on #79
Any updates on this?

[2018-01-16 11:15] joevo2 commented on #79
babel 7 now in beta 😄

[2018-01-16 22:27] tonyneel923 opened #128 "Is this for still active?"
I would like to know if this fork is kept up to date with create-react-app. Thanks.

[2018-01-17 12:06] rafiuske commented on #127
This is simple. In my project, I inserted the ``` "custom-react-scripts": "0.0.23" ``` on **package.json**  and run the ``` npm install ```  command. After this, you will need to create the environment file **.env** in the root and modify the [configuration options](https://github.com/kitze/custom-react-scripts#-configuration-options).

[2018-01-18 21:25] clintandrewhall opened #129 "Async/Await is disabled?"
async functions aren't getting transpiled in my source code.  Are they not enabled?  I noticed this package used 'babel-preset-latest' in previous versions, but doesn't use 'babel-preset-env'.

Any advice?  Do I have to eject?

[2018-01-18 21:28] clintandrewhall commented on #129
Never mind.  I'm a 🤡  from #clowntown.

[2018-01-18 21:28] #129 closed

[2018-01-19 08:39] kitze commented on #122
@DayDarkDark If you want to use react-app-rewired you need to use the original create-react-app and react-scripts.

[2018-01-19 08:39] #122 closed

[2018-01-22 14:40] m1n0s commented on #114
@geloescht thanks for your attention! 4 node.js processes have been killing my CPU.

[2018-01-23 00:32] ajcrews commented on #113
The webpack dashboard also has a nested dependency on [lzz-gyp](https://github.com/JoshuaWise/lzz-gyp) which specifies the `GPL-3.0` license which many companies avoid.

[code]

[2018-01-25 03:41] ivanberry commented on #127
@rafiuske is need to replace the **react-scripts start** to **custom-react-scripts start** in **package.json**

[2018-01-26 21:56] djalmaaraujo opened #130 "I don't get it, sorry"
Is this repo just to toggle on/off modules? What about adding some specific configuration to webpack.config.dev file? This is not the goal here, right? After reading the article `Configure create-react-app without ejecting` I got this wrong idea. Or not?

[2018-01-27 03:04] ericmmartin commented on #130
This repo adds some features that aren't present in CRA and allows you to enable/disable them using .env* files. This allows you to use CRA w/o ejecting and utilizing the following features:

- Decorators
- babel-preset-stage-0
- Less
- Sass
- CSS modules
- Sass modules
- Less modules
- Stylus modules

[2018-01-27 03:10] ericmmartin commented on #117
As far as I can tell, you can only enable/disable the loader...unless you want to submit a PR or fork the repo.

[2018-01-27 03:16] ericmmartin commented on #128
Current react-scripts version is 1.1.0 and the README says it is using 1.0.11. So no, it has not been kept up to date with recent updates.

[2018-01-27 14:00] fawaz-ahmed commented on #115
Is this issue resolved ? or any temporary workarounds ?

[2018-01-28 01:33] djalmaaraujo commented on #130
Thanks for the explanation my friend.

On Sat, Jan 27, 2018, 3:04 AM Eric Martin <notifications@github.com> wrote:

--
Djalma Araújo
+351 910623833
nossomos.cc

[2018-01-28 01:33] #130 closed

[2018-02-04 22:50] artemirq commented on #128
@tonyneel923 If you actually now need latest `react-scripts` with features, check  https://github.com/artemirq/advanced-react-scripts

[2018-02-08 10:53] d07RiV opened #132 "SCSS does not respect NODE_PATH variable"
We can specify `NODE_PATH` variable in the `.env` file to add additional source directories - specifically, setting it to project root allows us to use absolute paths.

However, this does not work with includes in SASS (and probably other CSS processors):

    Module build failed:
    @import 'common.scss';
    ^
          File to import not found or unreadable: common.scss.

With regular CRA we c

[2018-02-09 10:03] ortonomy commented on #128
@kitze -- any plans to update the react-scripts in this package to 1.1?

[2018-02-15 16:05] enjoythelive1 opened #133 "Responding to question on code"
https://github.com/kitze/custom-react-scripts/blob/dea4a2ba0c422333e75114c63158ae2af8cbce3c/packages/react-scripts/scripts/utils/createJestConfig.js#L23

It is, NodeJS path is understands '/' as path separator.

[2018-02-15 16:13] enjoythelive1 opened #134 "JEST scss transformation is missing"
https://github.com/kitze/custom-react-scripts/blob/dea4a2ba0c422333e75114c63158ae2af8cbce3c/packages/react-scripts/scripts/utils/createJestConfig.js#L39

Jest is not customized, when the tests run, it mocks the CSS files with `{}` but SASS, LESS nor STYLUS is mocked. It would require a lot of changes anyway.

[2018-02-25 14:33] k1sul1 commented on #128
artemirq/advanced-react-scripts is more up to date, but those of us that use Stylus are out of luck. SCSS is just too verbose for me.

Might as well move away from CRA when this fork will not do anymore, relying on other peoples forks isn't a good long term solution anyway. Those that hate configuring Webpack might find Parcel useful.

[2018-02-25 14:49] artemirq commented on #128
@k1sul1 If you need feature in [advanced-react-scripts](https://github.com/artemirq/advanced-react-scripts), you must create issue :)

[2018-02-26 04:54] zetekla commented on #127
@rafiuske I will give it a try and report back! Thank you for your input.

[2018-02-26 15:02] artemirq commented on #128
@k1sul1 I added support Stylus in [advanced-react-scripts](https://github.com/artemirq/advanced-react-scripts), but not tested. Would be good if someone tested this :)

[2018-02-26 20:30] k1sul1 commented on #128
I'll see if I've time for my side project during the weekend @artemirq

Thanks for the effort! I configured Webpack from scratch today for a work project so if it doesn't I might find out what's wrong.

[2018-03-01 11:46] artemirq commented on #128
@k1sul1 Thank you :)

[2018-03-06 10:14] #97 closed

[2018-03-06 10:14] #106 closed

[2018-03-06 10:14] kitze commented on #128
If someone sends a PR for updating to the latest react-scripts version, I would gladly accept it and release a new version.

[2018-03-06 10:16] kitze commented on #133
What is the issue here @enjoythelive1 ? This code is part of the original react-scripts.

[2018-03-06 10:16] #133 closed

[2018-03-06 10:16] kitze commented on #127
https://github.com/kitze/custom-react-scripts#adding-to-an-existing-project

[2018-03-06 10:16] #127 closed

[2018-03-06 10:17] kitze commented on #117
@ericmmartin is right. If you want those options you will have to submit a PR @exdeniz. I don't use stylus in my projects so I don't need them.

[2018-03-06 10:17] #117 closed

[2018-03-06 10:22] #116 closed

[2018-03-11 09:40] k1sul1 commented on #128
@artemirq I was too busy last weekend, but I managed to test advanced-react-scripts. The good news is that the stylus-loader is working like it should, but  it didn't like my code. I guess I'm relying on some stage-2 or stage-1 proposal, I got this error :

[code]

There's something in this that it doesn't like

[code]

I'm in the middle of implementing react-dnd, don't look for sense in the code.

[2018-03-11 14:30] artemirq commented on #128
@k1sul1 Yeah, [it's bug](https://github.com/babel/babel/issues/7177) in babel >= 7.0.0-beta.37. I tried fix this bug in `test` version of advanced-react-scripts(`0.3.47-beta.12`). Try this version, please

[2018-03-12 18:12] kitze commented on #128
@artemirq and @k1sul1 can you please discuss other packages in their respective repo? Thanks.

[2018-03-20 15:01] #88 closed

[2018-04-01 09:45] rajatbarman commented on #61
Not able to make this work yet.

[2018-04-04 03:06] vsanthanam commented on #115
any plans to get the latest version of react-scripts into this repo?

[2018-04-04 09:50] kitze commented on #115
@vsanthanam PR is welcome :)

[2018-04-04 14:36] vsanthanam commented on #115
My knowledge of such things is practically zero — but I’ll give it a try!

[2018-04-06 08:34] kitze commented on #115
@vsanthanam There is a new 2.0 release coming soon so I might release with that one ..

[2018-04-06 15:26] vsanthanam commented on #115
:O awesome!

the current release has this super annoying bug which causes warnings to be thrown up in jest when using react 16.0+. I believe the fixed it in later versions of react-scripts, or at least that's what I gathered from the thread on the issue tracker.

I love this repo -- easiest way to add less.js to a create-react-app that I could find. Thanks for helping beginners like me do cool thi

[2018-04-06 20:05] abelmark opened #138 "Can't find build scripts"
### Is this a bug report?

Yes.

### Can you also reproduce the problem with npm 4.x?

Yes.

### Which terms did you search for in User Guide?

(Write your answer here if relevant.)

### Environment

1. `node -v`:  v9.11.1
2. `npm -v`: 4.0.5
3. `yarn --version` (if you use Yarn): 1.5.1
4. `npm ls react-scripts` (if you haven’t ejected): hiremev3@1.0.0 /Users/markabel/code/projects/hiremev3
└── (em

[2018-04-08 23:15] Ric-Lavers commented on #120
You should be able to select select the length of the hash changing the REACT_APP_CSS_MODULE_CLASSNAME_TEMPLATE in the .env file as such `[sha512:hash:base32:<length>]`

for example `[sha512:hash:base32:5]` will encode using sha512 encoding in base 32 with 5 characters. . . also ensure that this line isn't commented out and that you reset your server when making changes.

[2018-04-13 15:14] #138 closed

[2018-04-23 23:02] clintandrewhall opened #139 "Should `yarn build` work?"
I'm using CSS modules, and none of the CSS modules are being applied/loaded when I `serve -s build`.  Is there a step I'm missing?

[2018-05-01 17:42] Smudded opened #140 "How to tell when less is loaded?"
I'm using the the less-loader in my project, and due to some interesting circumstances I care about the height of my app when it first renders. Unfortunately, when the app finishes its first render the styles have not yet loaded. It doesn't seem there's a way to tell when the styles have loaded and store that state within my app so I can delay any kind of measuring I do. I've attempted importing t

[2018-05-10 17:35] nagman opened #141 "sass-resources-loader for global variables in SASS"
Hi there,

A HUGE thanks for this project because you solved exactly what I struggled with (SASS modules).

I would like to suggest an improvement: the support of sass-resources-loader.
So that we can use our SASS variables accross every .scss file amongst our project.

I'd like to propose you a pull request, but I don't really understand how this project is maintained (so I don't know what config

[2018-05-24 18:28] caseychoiniere opened #143 "Decorators fail when trying to build app in Travis CI"
I've set up a basic application with CRA and Mobx and using Custom React Scripts to get decorators working in Create React App.

It works great but when I setup Travis CI to run on Github pull requests it fails because of the decorators. It fails when running `npm run test` or `npm run build`.

I figured it was simply a configuration issue with Travis CI so I tried many different changes and optio

[2018-05-26 13:18] nagman commented on #141
Anyone here?

[2018-05-30 19:28] tcchau opened #144 "Is there any way to get hot reloading of style changes to work with modules?"
When you make a styling change specified in a *.module.scss|less|css file, the changes will compile and cause a window.reload().

This is to be expected, I think, because with modules, you're actually instantiating a styles Javascript object in your code.

However, this makes styling work on large projects painful, because of the compilation time.

Has anyone else encountered this problem and solv

[2018-06-06 11:53] #132 closed

[2018-06-06 18:16] amadeogallardo commented on #114
@geloescht I can confirm the same behavior. Disabling Webpack Dashboard fixed the performance overhead issues and improved the hot reloading times considerably.

The tradeoff was actually having to turn the AC heater on, instead of just using my notebook as a heater by frequently triggering a file change. In this case, it was quite literally a "hot reload".

[2018-06-07 08:01] aftabnaveed opened #146 "Compatibility with vscode jest"
VSCode Jest https://github.com/jest-community/vscode-jest is a great extension which automatically integrates with create-react-scripts. Because custom-react-scripts is a modified version the extension would not detect it automatically. I am wondering if there is a workaround to fix the problem and make custom-react-scripts visible to it?

From the above link

[2018-06-07 08:34] devxpy commented on #50
^Nice, can we also incorporate for the NODE_PATH env, like @willhackett  said?

[2018-06-10 11:53] #126 closed

[2018-06-14 12:37] fgvicente commented on #89
You could pass an example of the webpack.config. I can not make me recognize the scss styles

[2018-06-14 12:52] frankstallone commented on #89
I think your asking me for an example @fgvicente? If so here is my current `.storybook/webpack.config.js`. This works with my TypeScript, loads my static folder files appropriately and compiles my SCSS.

[code]

[2018-06-14 14:13] fgvicente commented on #89
@frankstallone thank for help but not work.
![image](https://user-images.githubusercontent.com/3626864/41417427-b3d362a8-6fc3-11e8-848a-5d3baf9e83de.png)
![image](https://user-images.githubusercontent.com/3626864/41417490-df6768ce-6fc3-11e8-8527-6a1074556437.png)
![image](https://user-images.githubusercontent.com/3626864/41417516-f4b00d6c-6fc3-11e8-8486-23736c863b07.png)

[2018-06-14 14:48] fgvicente commented on #89
@frankstallone I explain myself a little better. NO error storybook now, but I do not load the css. the second image shows the button without the styles and in the console it also does not show that it loads a class

[2018-06-15 17:35] demersdesigns commented on #123
I think you need to add `REACT_APP_` to the beginning of your var name.
`REACT_APP_VAR=foobar`

[2018-06-29 12:36] Eric-Arellano commented on #128
@kitze hello, when possible could you please publish the changes since March? I'm not sure how to integrate the upgrade to FB's scripts I made last month.

I'm happy to help publish, only not sure how to do so and think you might need to. Let me know how to be helpful!

[2018-07-28 03:17] joynal opened #151 "Less module is not working"
Hi, I'm using custom-react-scripts 0.2.2. Seems less moduling is not working. Here are my env variables:
[code]

[2018-08-09 11:44] riccoski opened #152 "Upgrading isn't pulling the latest webpack dev config"
Hello - I was wondering whether this is fixed? I have upgraded to 0.22 however I noticed that I still need to manually update:

in order to get upload working
.../node_modules/custom-react-scripts/config/webpack.config.dev.js

Replace line: 199:
exclude: [/.(js|jsx|mjs)$/, /.html$/, /.json$/],

This is in order to solve this issue: https://github.com/facebook/create-react-app/pull/3537

Thank you

[2018-08-11 00:21] gabrielbs opened #153 "css modules className with --"
Why CSS Modules are generating classNames with -- on the end?

example:

I'm using this pattern:
REACT_APP_CSS_MODULE_CLASSNAME_TEMPLATE = '[path]-[hash:base64:5]';

And the generated class always has a -- on the end, like this:

.box { }

generates

{ box: "_36lIp-box--" } (always with --)

Someone has any idea?

[2018-08-21 13:48] d07RiV opened #154 "Remove radix eslint rule"
As per the rule description, it is intended for applications targeting pre-ES5 environments. If we only care about ES5+, then it is actually recommended to use the opposite setting, which warns when redundant radix 10 is passed.

It is already removed from create-react-app, perhaps it should also be removed from the scripts?

[2018-08-22 09:53] m1n0s opened #155 "npm audit vulnerabilities"
Hey!
Thanks for the amazing package!

I have a question about new `npm` vulnerabilities functionality.
The problem that we have all 36 vulnerabilities fired from `custom-react-scripts` (before updating from 0.2.1 to 0.2.2 there were 100+ of them).
[code]
Most of them are fired from `hoek` dependency and seems like they are already fixed many of them. Smth like that:
[code]

Are you going to deal w

[2018-10-02 17:53] fabdrol opened #156 "Bug: babel rejects class properties"
I have a react component which looks like this:

[code]

The included babel parser causes a compile error:

[code]

I'm having trouble figuring out what's going wrong here. My env file:

[code]

[2018-10-02 18:50] Eric-Arellano commented on #128
Hey all, see this commit from @kitze for some alternatives now that Create React App 2 is released https://github.com/kitze/custom-react-scripts/commit/841a8e2b53ef956d027d30e7843383fb86c60fb0. Thanks again Kitze!

[2018-10-15 05:36] kitze commented on #128
Please use this one from now on:
https://github.com/arackaf/customize-cra

[2018-10-15 05:36] #128 closed

[2018-10-28 10:18] jetpack3331 commented on #103
Any progress?

[2019-02-18 15:40] Blackbaud-ScottVossen commented on #79
babel 7 now released. I'd love to see this one added!

[2019-09-07 20:38] #152 closed